<!-- ? Sidebar -->
<section class="sidebar">
  <article class="article">
    <a href="{{url_for('acceuil')}}">
      <div class="item">
        <p>Acceuil</p>
      </div>
    </a>
    
    <a href="{{url_for('magasin')}}">
      <div class="item">
        <p>Magasin</p>
      </div>
    </a>

    <a href="#">
      <div class="item">
        <p>Produit</p>
      </div>
    </a>

    <a href="#">
      <div class="item">
        <p>Vente</p>
      </div>
    </a>

    <a href="#">
      <div class="item">
        <p>Stock</p>
      </div>
    </a>

    <a href="{{url_for('index')}}">
      <div class="item">
        <p>Déconnection</p>
      </div>
    </a>
  </article>
</section>