{% extends './base.html' %}
{% block content %}
<div class="form">
    <h2>Modifier un magasin</h2>
    <div class="form-center">
        <form action="">
            <label for="name">Nom :</label>
            <input type="text" name="name" id="name" value="Magasin 5" />

            <label for="adress">Adresse :</label>
            <input type="text" name="adress" id="adress" value="Adresse 5" />

            <label for="tel">Téléphone :</label>
            <input type="tel" name="tel" id="tel" value="Téléphone 5" />

            <label for="email">Email :</label>
            <input type="email" name="email" id="email" value="E-mail 5" />
            <!-- <a href="./magasin.html">Retour</a> -->

            <div class="button">
                <button>
                    <a href="{{url_for('magasin')}}"> Retour </a>
                </button>
            
                <button>
                    <a href="{{url_for('traitement')}}"> Valider </a>
                </button>
            </div>
        </form>

    </div>
</div>
{% endblock %}